.hide-modal {
	display: none;
}

#modal {
	position: absolute;
	z-index: 900000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
}

.modal-container, .modal-info-container {
	height: 100%;
}

.appoie-modal {
	position: absolute;
	z-index: 1000000;
	top: 75px;
	left: 50px;
	min-width: 60%;
	width: 60%;
	background-color: #fff;
	-moz-transform: scale(1) translateX(-1000%);
	-webkit-transform: scale(1) translateX(-1000%);
	-o-transform: scale(1) translateX(-1000%);
	-ms-transform: scale(1) translateX(-1000%);
	transform: scale(1) translateX(-1000%);
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.animation-modal {
	-moz-transform: scale(1) translateX(0px) translateY(0px) !important;
	-webkit-transform: scale(1) translateX(0px) translateY(0px) !important;
	-o-transform: scale(1) translateX(0px) translateY(0px) !important;
	-ms-transform: scale(1) translateX(0px) translateY(0px) !important;
	transform: scale(1) translateX(0px) translateY(0px) !important;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.appoie-info-modal {
	position: absolute;
	z-index: 10000000;
	top: 0;
	right: 0;
	min-width: 32%;
	width: 32%;
	min-height: 100%;
	height: 100%;
	background-color: #fff;
	-moz-transform: scale(1) translateX(1000px);
	-webkit-transform: scale(1) translateX(1000px);
	-o-transform: scale(1) translateX(1000px);
	-ms-transform: scale(1) translateX(1000px);
	transform: scale(1) translateX(1000px);
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.img-width {
	width: 100%;
}

.img-height {
	height: 100%;
}

/* ========== MODAL STYLES ========== */

/* MODAL DE INFORMAÇÕES  --  HEADER */

.pd-info-header-container {
	background-color: #0288D1;
	padding: 20px;
}

.pd-foto-user {
	width: 100%;
    background: #fff;
    text-align: center;
    border-radius: 50%;
}

.pd-foto-user > img {
	width: 27px;
	height: 27px;
	margin-top: 10px;
}

.pd-info-user-name > span {
	font-weight: bold;
	font-size: 19px;
	color: #fff;
}

.pd-info-data > span, .pd-info-status > span, .pd-info-duracao > span {
	font-size: 13px;
	color: #fff;
}

.pd-info-data > span > span, .pd-info-status > span > span, .pd-info-duracao > span > span {
	font-weight: bold;
}

.pd-close-modal-field {
	background-color: #0288D1;
	border-radius: 50%;
	float: right;
	padding: 2px 7px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
}

.pd-close-modal span {
	text-decoration: none;
	outline: none;
	color: #fff;
}

.pd-info-user-container {
	padding-left: 15px;
}

/* MODAL DE INFORMAÇÕES  --  CORPO */

.pd-info-container {
	padding: 20px;
}

.pd-info-titulo > span {
	font-size: 18px;
	font-weight: bold;
	color: #212121;
}

.pd-info-descricao {
	margin-top: 10px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
	max-height: 150px;
	overflow-y: auto;
}

.pd-info-descricao > span {
	font-size: 14px;
	color: #757575;
}

.pd-categoria-container {
	border-bottom: 1px solid #ccc;
}

.pd-categoria > span > span {
	font-weight: bold;
}

.pd-img-categoria img {
	float: right;
	padding-bottom: 2px;
}

.pd-criticidade-grafico {
	box-sizing: border-box;
	width: 100%;
	height: 30px;
	padding: 0 5px;
	background: #03a9f4; /* Old browsers */
	background: -moz-linear-gradient(left, #03a9f4 2%, #ff4081 76%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #03a9f4 2%,#ff4081 76%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #03a9f4 2%,#ff4081 76%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03a9f4', endColorstr='#ff4081',GradientType=1 ); /* IE6-9 */
}

.pd-criticidade {
	margin-top: 20px;
	margin-bottom: 10px;
}

.pd-criticidade > span > span {
	font-weight: bold;
}

.pd-criticidade-grafico > img {
	margin-top: 4px;
}

.pd-contador-dias {
	margin-top: 20px;
}

.pd-contador-dias > span {
	color: #757575;
	font-size: 14px;
}

.pd-contador-dias > span > span {
	font-weight: bold;
	font-size: 25px;
}

.pd-actions-container {
	position: absolute;
	bottom: 20px;
	width: 100%;
	box-sizing: border-box;
}

.pd-actions-container * {
	font-size: 13px;
}

.pd-apoiar > span:hover, .pd-denunciar > span:hover {
	text-decoration: underline;
	cursor: pointer;
}

.pd-qtd-apoiadores {
	text-align: right;
}

.pd-qtd-apoiadores > span {
	margin-right: 47px;
}

.pd-compartilhar {
	margin-left: auto;
    margin-top: 50px;
    margin-right: auto;
}

.pd-btn-compartilhar {
    background: #0288D1;
    border-radius: 2px;
    color: #fff;
    margin-top: 25px;
    padding: 10px;
    cursor: pointer;
}

.pd-btn-compartilhar:hover {
	background: #03A9F4;
}

.pd-btn-compartilhar-img {
	float: left;
	height: 30px;
}

.pd-btn-text {
	margin-top: 6px;
    margin-left: 40px;
}

/* SELECT ESTADOS */

.select-estado-modal {
	position: absolute;
	z-index: 9;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.8);
}

.select-container {
	background: #fff;
	width: 350px;
	border-radius: 3px;
}

.select-estado-modal .title-select {
	width: 100%;
    text-align: center;
    padding: 20px;
    background: #03A9F4;
    border-radius: 3px 3px 0 0;
}

.select-estado-modal .title-select > span {
	font-size: 20px;
	font-weight: bold;
	color: #fff;
}

.select-estado-modal .input-select {
	padding: 20px;
}

.input-select md-select {
	width: 250px;
}

.estado-submit-btn {
	text-align: center;
	margin-bottom: 20px;
}

.btn-disabled {
	background-color: #ccc;
}

.pd-apoiar > p {
	margin: 0;
	cursor: pointer;
}

.pd-apoiar > p:hover {
	text-decoration: underline;
}

.pd-apoiar > img {
	margin: 0 10px 0 0;
	width: 15px;
	float: left;
}