<div ng-controller="homeController" ng-cloak>

    <md-content>

        <md-toolbar class="default-primary-color">
          <div class="md-toolbar-tools">

            <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
              <md-icon md-svg-icon="img/icons/menu-button.svg" class="btn-menu" ng-click="toggleLeft()"></md-icon>
            </md-button>

            <div class="img-logo-header">
              <span style="font-size: 20px;">
                <img src="/img/logo-escrita.png" alt="">
              </span>
            </div>

            <span flex></span>
            
            <span class="cont-notification">0</span>
            <md-menu md-position-mode="target-right target" >
              <md-button aria-label="Open demo menu" class="md-icon-button notification-button" ng-click="$mdOpenMenu($event)">
                <i class="material-icons notification-ico">notifications</i>
              </md-button>
              <md-menu-content width="3" >
                <div class="arrow-user-notification"></div>

              </md-menu-content>
            </md-menu>

           

            <md-menu md-position-mode="target-right target" >
              <div class="img-user-header">
                <img aria-label="Open demo menu" src="../img/team/user-empty.png" height="40" width="40" alt="" ng-click="$mdOpenMenu($event)">
              </div>
              <md-menu-content width="6" >
                <div class="arrow-user"></div>
                <div layout="row">

                  <div flex class="content-account">
                  
                    <img src="../img/team/user-empty.png" alt="" class="pic-account-modal">

                  </div>

                  <div flex class="content-account-info">
                  
                    <p><span>Olá,</span> Alan Freitas!</p>
                    <span class="info-email">alanfreitas@gmail.com</span>

                    <div layout="row" class="action-btn-user-content">

                      <div flex>
    
                        <button class="btn-perfil btn-action-user default-primary-color" ng-click="viewPerfil()">PERFIL</button>
  
                      </div>
  
                      <div flex>
    
                        <button class="btn-logout btn-action-user accent-color" ng-click="logout()">SAIR</button>
  
                      </div>

                    </div>

                  </div>
                  
                </div>
              </md-menu-content>
            </md-menu>

          </div>
        </md-toolbar>

    </md-content>
    
</div>

<div class="search-header" ng-controller="mapController">
  <input type="search" class="input-search material-icons" placeholder="search" ng-model="pesquisar">
</div>

<div class="map-content" ng-controller="menuController" layout="column" ng-cloak>
  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-whiteframe="4">

      <md-toolbar class="default-primary-color">
        <div layout="row">

          <div flex>
            <h1 class="md-toolbar-tools text-primary-color">MENU</h1>
          </div>

          <span flex></span>

          <div flex class="logo-menu">
            <img src="../img/loogo.png" height="40" width="40" alt="">
          </div>
          
        </div>
      </md-toolbar>

      <md-content>

        <div layout="row" id="user-info-menu" class="dark-primary-color">
          
          <div flex="20" class="pic-menu-perfil">
            <img src="/img/team/user-empty.png" alt="">
          </div>

          <div flex="65" class="info-menu-perfil">
            <span class="text-primary-color info-nome-menu">Alan Freitas</span>
            <br>
            <span class="text-primary-color info-cidade-menu">Maringá - PR</span>
          </div>

          <div flex="15">
            <div class="btn-editar-perfil-menu" ng-click="viewPerfil()">
              <i class="material-icons text-primary-color">create</i>
            </div>
          </div>

        </div>

        <form name="filter-form">
          
            <div class="filter-date filter border-bottom-menu">

              <span class="span">Filtrar por data <i class="material-icons">add</i></span>

            </div>

            <div class="date-container hide">

              <div layout="row" class="cont-date">

                <div flex="25" class="input-date-prefix">
                    <span>INÍCIO</span>
                </div>

                <div flex="65">
                    <input type="date" ng-model="filtroData.dataInicio">
                </div>

                <div flex="10"></div>
                
              </div>

              <div layout="row" class="cont-date">

                <div flex="25" class="input-date-prefix">
                  <span>FIM</span>
                </div>

                <div flex="65">
                  <input type="date" ng-model="filtroData.dataFim">
                </div>

                <div flex="10">
                  <div class="btn-filtrar-data" ng-click="filtrar()">
                    <i class="material-icons text-primary-color">search</i>
                  </div>
                </div>
                
              </div>

            </div>

            <div class="filter-category filter">

              <span class="span">Filtrar por categoria <i class="material-icons">remove</i></span>

            </div>

            <div class="category-container show border-bottom-menu">

              <div layout="row" class="box-container">

                <div flex="30" class="box-img-categoria">
                  <div class="img-categoria">
                    <img src="/img/categorias/ARBORIZACAO.png" alt="ARBORIZACAO" class="img-select img-disabled">
                  </div>
                  <div class="descricao-categoria">
                    <span>Arborização</span>
                  </div>
                </div>

                <div flex="30" class="box-img-categoria">
                  <div class="img-categoria">
                    <img src="/img/categorias/DEFESACIVIL.png" alt="DEFESACIVIL" class="img-select img-disabled">
                  </div>
                  <div class="descricao-categoria">
                    <span>Defesa civil</span>
                  </div>
                </div>

                <div flex="30" class="box-img-categoria">
                  <div class="img-categoria">
                    <img src="/img/categorias/FUNDODEVALE.png" alt="FUNDODEVALE" class="img-select img-disabled">
                  </div>
                  <div class="descricao-categoria">
                    <span>Fundo de vale</span>
                  </div>
                </div>

                <div flex="10"></div>

              </div>

              <div layout="row" class="box-container">

                <div flex="30" class="box-img-categoria">
                  <div class="img-categoria">
                    <img src="/img/categorias/ILUMINACAO.png" alt="ILUMINACAO" class="img-select img-disabled">
                  </div>
                  <div class="descricao-categoria">
                    <span>Iluminação</span>
                  </div>
                </div>

                <div flex="30" class="box-img-categoria">
                  <div class="img-categoria">
                    <img src="/img/categorias/PAVIMENTACAO.png" alt="PAVIMENTACAO" class="img-select img-disabled">
                  </div>
                  <div class="descricao-categoria">
                    <span>Pavimentação</span>
                  </div>
                </div>

                <div flex="30" class="box-img-categoria">
                  <div class="img-categoria">
                    <img src="/img/categorias/SANEAMENTOBASICO.png" alt="SANEAMENTOBASICO" class="img-select img-disabled">
                  </div>
                  <div class="descricao-categoria">
                    <span>Saneamento</span>
                  </div>
                </div>

                <div flex="10"></div>

              </div>

              <div layout="row" class="box-container">

                <div flex="30" class="box-img-categoria">
                  <div class="img-categoria">
                    <img src="/img/categorias/SEGURANCA.png" alt="SEGURANCA" class="img-select img-disabled">
                  </div>
                  <div class="descricao-categoria">
                    <span>Segurança</span>
                  </div>
                </div>

                <div flex="30" class="box-img-categoria">
                  <div class="img-categoria">
                    <img src="/img/categorias/TERRENOBALDIO.png" alt="TERRENOBALDIO" class="img-select img-disabled">
                  </div>
                  <div class="descricao-categoria">
                    <span>Terreno baldio</span>
                  </div>
                </div>

                <div flex="30" class="box-img-categoria">
                  <div class="img-categoria">
                    <img src="/img/categorias/TRANSPORTEPUBLICO.png" alt="TRANSPORTEPUBLICO" class=" img-select img-disabled">
                  </div>
                  <div class="descricao-categoria">
                    <span>Transporte</span>
                  </div>
                </div>

                <div flex="10"></div>

              </div>

              <div layout="row" layout-align="end center">
                <div class="btn-filtrar-categoria" ng-click="filtrar()">
                  <i class="material-icons text-primary-color">search</i>
                </div>
              </div>

            </div>

            <div class="filter-type filter border-bottom-menu">

              <span class="span">Filtrar por Tipo <i class="material-icons">add</i></span>

            </div>

            <div class="filter-container hide">

              <md-list-item ng-repeat="filtro in menuFiltros">
                <p> {{ filtro.nome }} </p>
                <md-checkbox class="md-secondary" ng-model="filtro.wanted"></md-checkbox>
              </md-list-item>

              <div layout="row" layout-align="end center">
                <div class="btn-filtrar-tipo" ng-click="filtrar()">
                  <i class="material-icons text-primary-color">search</i>
                </div>
              </div>

            </div>

            <div class="filter-config border-bottom-menu">
              <span class="span">Configurações</span>
            </div>

            <div class="filter-config border-bottom-menu" ng-click="logout()">
              <span class="span">Sair</span>
            </div>

        </form>

      </md-content>

    </md-sidenav>

    <md-content flex class="container-system">
      <div layout="column" layout-align="left">

        <div ui-view="system-pages"></div> <!-- CORPO DO SITE - VIEWS A SEREM CARREGADAS -->
        
      </div>
    </md-content>
  </section>
</div>