<div ng-controller="homeController" ng-cloak>

    <md-content>

        <md-toolbar class="md-primary">
          <div class="md-toolbar-tools">

            <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
              <md-icon md-svg-icon="img/icons/menu-button.svg" class="btn-menu" ng-click="toggleLeft()"></md-icon>
            </md-button>

            <div class="img-logo-header">
              <img src="../img/loogo.png" height="40" width="40" alt="">
            </div>

            <span flex></span>

            <!-- <md-button class="md-icon-button" aria-label="Favorite">
              <md-icon md-svg-icon="img/icons/user.svg" style="color: greenyellow;"></md-icon>
            </md-button> -->

            <!-- <md-button class="md-icon-button" aria-label="More">
              <img src="../img/ico_login_mobile.png" height="25" width="25" alt="">
            </md-button> -->

            <!-- <div class="img-user-header">
              <img src="../img/ico_login_mobile.png" height="35" width="35" alt="">
            </div> -->

            <div class="search-header">
              <input type="search" class="input-search" placeholder="Pesquisar">
            </div>

            <div class="img-user-header">
              <img src="../img/team/alan.jpg" height="40" width="40" alt="">
            </div>

          </div>
        </md-toolbar>

    </md-content>
    
</div>

<div class="map-content" ng-controller="menuController" layout="column" ng-cloak>
  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-whiteframe="4">

      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">MENU</h1>
        <span flex></span>
        <img src="../img/loogo.png" height="40" width="40" alt="">
      </md-toolbar>

      <md-content layout-margin>
        <!-- CONTEUDO DO MENU -->
      </md-content>
    </md-sidenav>

    <md-content flex>
      <div layout="column" layout-align="left">

        <div ui-view="system-pages"></div> <!-- CORPO DO SITE - VIEWS A SEREM CARREGADAS -->
        
      </div>
    </md-content>
  </section>
</div>