<div id="content" screenHeight ng-controller="indexController">

    <div class="background"></div>

    <div layout="row" layout-align="center center">
        <div flex="25" class="content-login">

            <div layout="column" layout-align="center center" class="logo-login">
                <img src="../img/loogo.png" height="50" width="50" alt="">
                <span>Appoie</span>
            </div>

            <div layout="column" layout-align="center center"class="title-login">
                <h2>FAÇA SEU LOGIN</h2>
            </div>

            <form name="loginForm">

                <md-input-container class="md-block">
                    <label>E-mail</label>
                    <input required type="email" name="emailLogin" ng-model="login.email" minlength="4" maxlength="100" ng-pattern="/^.+@.+\..+$/"/>
                    <div ng-messages="loginForm.emailLogin.$error" role="alert">
                        <div class="errorMsg" ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">Informe um Email válido</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Senha</label>
                    <input required type="password" name="senhaLogin" ng-model="login.senha" minlength="6">
                    <div ng-messages="loginForm.senhaLogin.$error">
                        <div class="errorMsg" ng-message="required">Informe uma senha válida</div>
                    </div>
                </md-input-container>

                <button class="submitLogin appoieButton md-primary" ng-click="logar(login)">ENTRAR</button>

            </form>

            <div layout="row">
                <div flex="50" layout="column" class="linkAlternative recuperaSenhaLink">
                    <span><a>Esqueci minha senha</a></span>
                </div>

                <div flex="50" layout="column" class="linkAlternative cadastrarLink">
                    <span><a ng-click="showCadastro()">Cadastre-se</a></span>
                </div>
            </div>

            <div layout="column" layout-align="center center" class="title-login">
                <h2>OU</h2>
            </div>

            <div layout="row" class="facebookButton" id="facebookButton" ng-click="loginFacebook()">
                <div flex="10" layout="column">
                    <img src="../img/facebook_ico_button.png" height="25" width="25" alt="Entrar com o facebook">
                </div>
                <div flex="90" layout="column" layout-align="center center">
                    <span>Entrar com o facebook</span>
                </div>
            </div>


        </div>
    </div>

</div>

<div id="content-cadastro" class="content-cadastro" ng-controller="indexController">

    <div class="layer-background"></div>

    <div layout="row" layout-align="end start" class="field-cadastro">
        <div flex="40" class="cont-content-cadastro">

            <div ng-click="hideCadastro()" class="close-cadastro">X</div>

            <div layout="column" layout-align="center center" class="logo-login">
                <img src="../img/logo.png" height="50" width="50" alt="">
                
            </div>

            <div layout="column" layout-align="center center"class="title-login">
                <h2>CADASTRE-SE, É DE GRAÇA!</h2>
            </div>

            <form name="cadastroForm">

                <!-- ========================================== NOME E SOBRENOME ========================================== -->
                <div layout="row" class="containerInput">
                    <div layout="column" flex="50">

                      <md-input-container class="md-block">
                        <label>Nome</label>
                        <input name="nome" ng-model="cadastro.nome" ng-required="true">
                        <div ng-messages="cadastroForm.nome.$error">
                          <div class="errorMsg" ng-message="required">Informe o nome</div>
                        </div>
                      </md-input-container>

                    </div>

                    <div layout="column" flex="50">

                      <md-input-container class="md-block">
                        <label>Sobrenome</label>
                        <input required name="sobrenome" ng-model="cadastro.sobrenome">
                        <div ng-messages="cadastroForm.sobrenome.$error">
                          <div class="errorMsg" ng-message="required">Informe o sobrenome</div>
                        </div>
                      </md-input-container>

                    </div>
                </div>

                <!-- ========================================== SEXO E DATA DE NASCIMENTO ========================================== -->
                <div layout="row" class="containerInput">
                    <div layout="column" flex="50">

                      <md-input-container>
                        <label>Sexo</label>
                        <md-select name="sexo" ng-model="cadastro.sexo" required>
                          <md-option>Masculino</md-option>
                          <md-option>Feminino</md-option>
                        </md-select>
                      </md-input-container>

                    </div>

                    <div layout="column" flex="50">

                      <label class="labelEspecial" for="nascimento">Nascimento</label>
                      <input type="date" name="dataNascimento" class="input-nascimento" ng-model="cadastro.dataNascimento" required>

                    </div>
                </div>

                <!-- ========================================== CEP E CIDADE ========================================== -->

                <div layout="row" class="containerInput">
                    <div layout="column" flex="50">

                        <md-input-container class="md-block">
                            <label>Cep</label>
                            <input name="cep" ng-model="cadastro.cep" ng-required="true" id="cep" ng-blur="burcarCep(cadastro.cep)">
                            <div ng-messages="cadastroForm.cep.$error">
                              <div class="errorMsg" ng-message="required">Informe o cep</div>
                            </div>
                        </md-input-container>

                    </div>

                    <div layout="column" flex="50">

                        <md-input-container class="md-block">
                            <label>cidade</label>
                            <input name="cidade" ng-model="cadastro.cidade" ng-required="true" id="cidade">
                        </md-input-container>

                    </div>
                </div>

                <!-- ========================================== EMAIL E CONFIRMA EMAIL ========================================== -->

                <div layout="row" class="containerInput">
                    <div layout="column" flex="50">

                        <md-input-container class="md-block">
                            <label>Email</label>
                            <input required type="email" name="email" ng-model="cadastro.email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                            <div ng-messages="cadastroForm.email.$error" role="alert">
                                <div class="errorMsg" ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                    Informe corretamente seu email
                                </div>
                            </div>
                        </md-input-container>

                    </div>

                    <div layout="column" flex="50">

                        <md-input-container class="md-block">
                            <label>Confirme seu email</label>
                            <input required type="email" name="confirmaEmail" ng-model="cadastro.confirmaEmail" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                            <div ng-messages="cadastroForm.confirmaEmail.$error" role="alert">
                              <div class="errorMsg" ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                Informe corretamente seu email
                              </div>
                            </div>
                        </md-input-container>

                    </div>
                </div>

                <!-- ========================================== SENHA E CONFIRMA SENHA ========================================== -->

                <div layout="row" class="containerInput">
                    <div layout="column" flex="50">

                      <md-input-container class="md-block">
                        <label>Senha</label>
                        <input type="password" name="senha" ng-model="cadastro.senha" ng-required="true">
                        <div ng-messages="cadastroForm.senha.$error">
                          <div class="errorMsg" ng-message="required">Informe a senha</div>
                        </div>
                      </md-input-container>

                    </div>

                    <div layout="column" flex="50">

                      <md-input-container class="md-block">
                        <label>Confirme sua senha</label>
                        <input type="password" name="confirmaSenha" ng-model="cadastro.confirmaSenha" ng-required="true">
                        <div ng-messages="cadastroForm.confirmarSenha.$error">
                          <div class="errorMsg" ng-message="required">Informe a senha</div>
                        </div>
                      </md-input-container>

                    </div>
                </div>

                <!-- ========================================== SUBMIT ========================================== -->

                <div layout="row">
                    <div layout="column" flex="100">

                        <button class="appoieButton" ng-click="cadastrar(cadastro)">Cadastrar</button>

                    </div>
                </div>

            </form>

            <div class="direitos">   
                <span>Appoie corporations © 2016 - Todos os direitos reservados</span>
            </div>

        </div>
    </div>

</div>

