<div class="post-alternativo hide" data-toggle="modal" data-target="#postar" secondPostShow>	
	<img src="img/publicar-alternativo-ico.png" height="40" width="40">
</div>

<div class="container container-post"  ng-controller="timelineController">	
	<div class="row">		
		<div class="box-post no-padding-lateral col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2" data-toggle="modal" data-target="#postar">	
			<div class="row no-padding-lateral">
				<div class="person col-lg-1 col-md-1 col-sm-2 col-xs-6">
					<img src="img/perfil.png">
				</div>			
				<div class="question col-lg-8 col-md-8 col-sm-7">
					<span>Precisa expor uma situação Alan?</span>
				</div>
				<div class="icon-post col-lg-3 col-md-3 col-sm-3 col-xs-6">
					<img class="pull-right" src="img/publicar-ico.png" height="30" width="30">
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container" ng-controller="timelineController">	
	<div class="row">	
		<div class="no-padding-lateral col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-lg-sm col-sm-offset-2 col-xs-8 col-xs-offset-2">		
			<ul class="timeline">

				<li>		
					<div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
					<div class="timeline-panel">
						<div class="timeline-heading">
						   	<h4 class="timeline-title">Mussum ipsum cacilds</h4>
						    <p>
						    	<small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small>
						    </p>
						</div>
						<div class="body">
						    <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
						</div>
					</div>
				</li>

			</ul>
		</div>
	</div>
</div>